#display {
    text-align: right;
    background-color: #000;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

button {
    font-size: 1.2rem;
}
.calcolatrice {
    max-width: 320px;
    margin: 0 auto;
    background-color: #212529;
    padding: 20px;
    border-radius: 16px;
    color: #fff;
}


